---
import '../styles/global.css';
import Nav from '../components/Nav.astro';

interface Props {
  title: string;
  description?: string;
  current?: string;
  navVariant?: 'ls' | 'inline';
  wide?: boolean;
}
const {
  title,
  description = '<<SITE_TAGLINE>>',
  current = '',
  navVariant = 'inline',
  wide = false,
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <main class={wide ? 'wide' : ''}>
      <Nav variant={navVariant} current={current} />
      <slot />
    </main>
  </body>
</html>
